:root {
  light-green: #f4fcd9;
  green: #c5d8a4;
  light-brown: #bb9981;
  brown: #534340;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 2;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.header {
  background-color: #534340;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-link-logo {
  display: flex;
  align-self: center;
}

.nav-link-logo:hover {
  box-shadow: 5px 5px 1rem 0.5rem #bb9981;
  background-color: #bb9981;
}

.logo-image {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}

.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 0.5rem;
}
.nav-link:hover {
  border-bottom: 0.2rem solid white;
  box-shadow: 0 0 1rem 0.5rem #bb9981;
  background-color: #bb9981;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #534340;
}

.footer-icon {
  margin: 20px;
}
.footer-icon a {
  text-decoration: none;
  color: #bb9981;
}
.footer-icon:hover a {
  cursor: pointer;
  color: azure;
}
.footer-icon i {
  font-size: 3rem;
}
.name {
  font-size: 1.8rem;
  color: white;
}
.name:hover {
  background-color: #bb9981;
}
/*content section styles*/

.content-section {
  letter-spacing: 0.6rem;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0rem 0rem 0.7rem 0.7rem #bb9981;
}

.content-section-title {
  font-size: 4rem;
  color: white;
}
.content-section-info {
  font-size: 4rem;
  color: white;
}
/*start of buttton style */

.btn-control {
  padding: 2rem 1rem;
  text-align: center;
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  min-width: 20rem;
  text-transform: uppercase;
  background-color: #534340;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: #bb9981;
  box-shadow: white;
}
